<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta name="theme-color" content="#2196F3">
    <title>Blog</title>
    <link rel='shortcut icon' type='image/x-icon' href='img/rec.png'/>
    
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  </head>

  <body>

  <!-- for flash messages -->
    <% unless flash.empty? %>
     <script type="text/javascript">
          <% flash.each do |f| %>
            <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
            toastr['<%= type %>']('<%= f[1] %>');
         <% end %>
     </script>
    <% end %>
<!--  -->
<div id="myWS" class="wow fadeIn" >
<div class="navbar-fixed">
  <nav id="nav_f" class="blue-grey darken-2" role="navigation">
    <div class="container">
      <div class="nav-wrapper">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
          <ul class="left hide-on-med-and-down">
            <li><a href="/posts" style="color: #fffde7;" >Blog <span class="sr-only">(current)</span></a></li>
            <li><a href="/forums" style="color: #fffde7" >Forum <span class="sr-only">(current)</span></a></li>
          </ul>
          <a href="http://recursionnitd.in" class="brand-logo" style="color: #fffde7;" target="_blank">RECursion</a>
          <ul class="right hide-on-med-and-down">
            <% if current_user %>
              <li><%= image_tag(current_user.avatar, size: '50x50') %></li>
              <li><%= current_user.name %></li>
              <li class="active"><%= link_to 'Log Out', '/logout', :style=> "color: #fffde7" %></li>
  
            <% else %>
              <li><%= link_to 'Facebook', '/auth/facebook', :style=> "color: #fffde7" %></li>
              <li><%= link_to 'Google+', '/auth/google', :style=> "color: #fffde7" %></li>
            <% end %>
          </ul>
          <ul id="nav-mobile" class="side-nav">
            <li class="active"><a href="/posts" style="color: #fffde7;" >Blog <span class="sr-only">(current)</span></a></li>
            <li><a href="/forums" style="color: #fffde7" >Forum <span class="sr-only">(current)</span></a></li>
            <% if current_user %>
              <li><%= image_tag(current_user.avatar, size: '50x50') %></li>
              <li><%= current_user.name %></li>
              <li class="active"><%= link_to 'Log Out', '/logout', :style=> "color: #fffde7" %></li>
  
            <% else %>
              <li><%= link_to 'Facebook', '/auth/facebook', :style=> "color: #fffde7" %></li>
              <li><%= link_to 'Google+', '/auth/google', :style=> "color: #fffde7" %></li>
            <% end %>
          </ul>
         <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
        <!--</div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </div>
  </nav>
</div>
</div>

    <%= yield %>
  </body>
  
  <!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</html>
